@font-face {
     font-family: "Athletic";
     src: url("https://res.cloudinary.com/dszdgdeoh/raw/upload/v1663682863/Athletics_Regular_nqigsp_wz16p6.otf") format("opentype");
     font-style: normal;
     font-display: swap;
}
@font-face {
     font-family: "Athletic Medium";
     src: url("https://res.cloudinary.com/dszdgdeoh/raw/upload/v1663682863/Athletics_Medium_avd904_beudoj.otf") format("opentype");
     font-style: normal;
     font-display: swap;
}
@font-face {
     font-family: "Athletic Bold";
     src: url("https://res.cloudinary.com/dszdgdeoh/raw/upload/v1663682863/Athletics_Bold_i0wpzk_bknv07.otf") format("opentype");
     font-style: normal;
     font-display: swap;
}
@font-face {
     font-family: "Athletic Light";
     src: url("https://res.cloudinary.com/dszdgdeoh/raw/upload/v1663682863/Athletics_Light_th3293.otf") format("opentype");
     font-style: normal;
     font-display: swap;
}
@font-face {
     font-family: kelpo;
     src: url(https://res.cloudinary.com/dszdgdeoh/raw/upload/v1663682870/bg_wvz6nf.ttf) format("truetype");
     font-style: normal;
     font-display: swap;
}
